# Application data
containers/**/data/*

# Keep directory structure in Git
!containers/**/data/.gitkeep

# Secrets
*.env
*.env.*
*.secret
*.key
*.pem

!*.env.example

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
