[Unit]
Description=Vaultwarden Password Manager
Wants=network-online.target
After=network-online.target

[Container]
Image=docker.io/vaultwarden/server:latest
ContainerName=vaultwarden
Network=homelab

PublishPort=8080:80
Volume=./data:/data

Environment=TZ=Europe/London

[Service]
Restart=always

[Install]
WantedBy=default.target
