[Unit]
Description=Homepage Homelab Dashboard
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/gethomepage/homepage:latest
ContainerName=homepage
Network=homelab

PublishPort=780:3000
Volume=./config:/app/config

EnvironmentFile=./homepage.env

Environment=HOMEPAGE_ALLOWED_HOSTS=vault.razzula.uk:980
Environment=TZ=Europe/London

[Service]
Restart=always

[Install]
WantedBy=default.target
