[Unit]
Description=Homepage Homelab Dashboard
Wants=network-online.target
After=network-online.target

[Container]
Image=ghcr.io/gethomepage/homepage:latest
ContainerName=homepage

PublishPort=3000:3000
Volume=./config:/app/config

Environment=HOMEPAGE_ALLOWED_HOSTS=192.168.0.2:3000
Environment=TZ=Europe/London

[Service]
Restart=always

[Install]
WantedBy=default.target
